[DEFAULT]
LogThreshold=0
RecordThreshold=0

[DATABASE]
# Right now the only option that works here is AzureSQLDB
DatabaseType=AzureSQLDB
DatabaseHost=<hostname>
DatabaseUser=<username>
DatabasePassword=<password>


[STORAGE]
# ImageStoreType determines the location to store images to. Currently data can be stored in AzureBlobStorage
# of local
StorageType=AzureBlobStorage
StoragePath=./

# Delete from local drive after successful upload to the cloud
StorageDeleteOnUpload=0

# Configuration for Azure Storage Blobs
StorageAzureStorageAccountName=<accountname>
StorageAzureStorageContainer=<containername>
StorageAzureStorageKey=<accountkey>

[CAMERA]
# Resolution must be supported by your camera or execution will fail
XResolution=640
YResolution=480
FrameRate=20
# Video codec must be available on system, list of codecs at https://www.fourcc.org/codecs.php
FourCCVideoCodec=MJPG
# File extension must be compatible with video codec
FileExtension=.avi


[RADAR]