[DEFAULT]
LogThreshold=20
RecordThreshold=25
ClearLocalOnStart=1
#Enables cloud storage and cloud database
EnableAzure=1
LogLevel=INFO

[DATABASE]
# Right now the only option that works here is AzureSQLDB or LocalOnly
EnableLocalDatabase=1
DatabasePath=./
DatabaseFilename=log.csv

EnableODBC=1
DatabaseConnectionString=DRIVER={FreeTDS};SERVER=<servername>t;PORT=1433;DATABASE=<databasename>;UID=<username>;PWD=<password>;TDS_Version=7.3;
DatabaseDriver={FreeTDS}

[STORAGE]
StoragePath=./

# Configuration for Azure Storage Blobs
StorageAzureStorageAccountName=<accountname>
StorageAzureStorageContainer=<container>
StorageAzureStorageKey=<credential>

# Delete from local drive after successful upload to the cloud
StorageDeleteOnUpload=1


[CAMERA]
# Resolution must be supported by your camera or execution will fail
XResolution=640
YResolution=480
FrameRate=20
# Video codec must be available on system, list of codecs at https://www.fourcc.org/codecs.php
FourCCVideoCodec=MJPG
# File extension must be compatible with video codec
FileExtension=.avi


[RADAR]
DevicePath=/dev/tty.usbmodem143101
SpeedOutputUnits=US
DataPrecision=F2
SamplingRate=S2
DirectionControl=R|
SpeedReport=OS
ProcessingLightActivity=Oc
LedControl=OL
BlankDataReporting=BZ
TransmitPower=P7