[DEFAULT]
RecordThreshold=1
ClearLocalOnStart=1
LogLevel=DEBUG
LogPath=../speedtrap.log


[DATABASE]
# Right now the only option that works here is AzureSQLDB or LocalOnly
EnableLocalDatabase=1
DatabasePath=../
DatabaseFilename=log.csv

# Configuration
EnableODBC=1
DatabaseConnectionString=DRIVER={FreeTDS};SERVER=<INSERT SERVER NAME>;PORT=1433;DATABASE=<INSERT DATABASE NAME>;UID=<INSERT USERNAME>;PWD=<INSERT PASSWORD>;TDS_Version=7.3;


[STORAGE]
# Enables cloud storage and cloud database
EnableAzure=1
StoragePath=../

# Configuration for Azure Storage Blobs
StorageAzureStorageAccountName=<INSERT STORAGE ACCOUNT NAME>
StorageAzureStorageContainer=<INSERT STORAGE CONTAINER NAME>
StorageAzureStorageKey=<INSERT STORAGE KEY>

# Delete from local drive after successful upload to the cloud
StorageDeleteOnUpload=1


[CAMERA]
# How many frames to store to prepend the recording with
RingBufferSize=50
# Resolution must be supported by your camera or execution will fail
XResolution=640
YResolution=480
FrameRate=30
# Video codec must be available on system, list of codecs at https://www.fourcc.org/codecs.php
FourCCVideoCodec=MJPG
# File extension must be compatible with video codec
FileExtension=.avi


[RADAR]
DevicePath=/dev/ttyACM0
SpeedOutputUnits=US
DataPrecision=F2
SamplingRate=S2
DirectionControl=R|
SpeedReport=OS
ProcessingLightActivity=Oc
LedControl=OL
BlankDataReporting=BZ
TransmitPower=P0




